<div class='container'>
<h2 class='header'>Welcome to your Trip Tracker!</h2>
<p class='sub'>Which trip would you like to take?</p>
  <div class="form sub">
    <br>
    <% @trips.each  do |t| %>
      <p class='link'><%= link_to t.name, trip_locations_path(t.id)%></p>
    <%end%>  
  </div>
</div>
<p class='form sub'><%= link_to 'Create new trip', new_trip_path%>

<style>
  .header {
    text-align: center;
    background: #66CCCC;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    font-family: sans-serif;
  }
  
  .sub {
    text-align: center;
    font-family: sans-serif;
  }
  
  .form {
    outline: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
  a { 
    text-decoration: none; 
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #66CCCC;
    height: 3.5em;
    width: 5em;
  }
  
  a:hover { background: lightblue; }
</style>