<h2 class='header'>Welcome to your Trip Tracker!</h2>
<form>
  <div class="form sub">
    <label>Which trip would you like to take?</label>
    <br>
    <br>
    <select class="form">
        <% @trips.each  do |l| %>
        <option>
        <button>
          <p><%= link_to l.name, trip_locations_path(:trip_id)%>
        </button>
        </option>
        <%end%>  
    </select>
    <input />
  </div>
</form>

<style>
  .header {
    text-align: center;
    background: #66CCCC;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    font-family: sans-serif;
  }
  
  .sub {
    text-align: center;
  }
  
  .form {
    text-align: center;
    margin: 0.5em auto;
    width: 70%; 
    -webkit-appearance: none;
    padding: 6px;
    outline: none;
    border-radius: 10px;
    font-family: sans-serif;
  }
</style>