<h2 class='header'>Welcome to your Trip Tracker!</h2>
<form>
  <div class="form sub">
    <label>Which trip would you like to take?</label>
    <br>
    <br>
        <% @trips.each  do |t| %>
          <p><%= link_to t.name, trip_locations_path(t.id)%>
        <%end%>  
  </div>
</form>

<style>
  .header {
    text-align: center;
    background: #66CCCC;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    font-family: sans-serif;
  }
  
  .sub {
    text-align: center;
  }
  
  .form {
    text-align: center;
    margin: 0.5em auto;
    width: 70%; 
    -webkit-appearance: none;
    padding: 6px;
    outline: none;
    border-radius: 10px;
    font-family: sans-serif;
  }
</style>