<h2 class='header'>Welcome to your Trip Tracker!</h2>
<form>
  <div class="form sub">
    <label>Where would you like to go?</label>
    <br>
    <br>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>placeholder</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

<style>
  .header {
    text-align: center;
  }
  
  .sub {
    text-align: center;
  }
  
  .form {
    
  }
</style>
