<h2 class='header'> Edit Location </h2>
<br />
<%= form_for ([@trip, @location]) do |a| %>
  <%= a.label :name%>
  <%= a.text_field :name, required: true%>
  
  <%= a.submit %>
<% end %>

<style>
  .header {
    text-align: center;
    background: #66CCCC;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    font-family: sans-serif;
  }
</style>