<div class="container">
  <h1 class="title">Trip Locations</h1>
    
    <div class="record_container">
<ol>
      <% @locations.each do |l| %>
      <div class="record">
  <li>
        <p><%= link_to l.name, location_address_path(l, l.address)%></p>
  </li>      
      </div>
      <%end%>  
</ol>
    </div>
    <%= link_to "Add a new location", new_trip_location_path(@trip)%>
  </div>
    