<div>
  <h2 class='header'>Trip Location</h2>
  <div class="record_container">
    <br>
    <ol>
      <% @trip.locations.each do |l| %>
      <div class="record">
  <li>
        <p><%= link_to l.name, location_address_path(l, l.address)%></p>
  </li>      
      </div>
      <%end%>  
</ol>
    </div>
  </div>
  <%= link_to "Edit trip", edit_trip_location_path(@trip)%>
  <%= link_to 'Delete Location', [@trip, @location], method: :delete %>
  <%= link_to "Add a new location", new_trip_location_path(@trip)%>
</div>

<style>
  .header {
    text-align: center;
    background: #66CCCC;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    font-family: sans-serif;
  }
  
  a { 
    text-decoration: none; 
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #66CCCC;
    height: 3.5em;
    width: 5em;
  }
  
  a:hover { background: lightblue; }
  
  li { padding: 2px; }
</style>