<div>
  <h2 class="header">Trip Location</h2>
    
    <div class="record_container">
      <% @locations.each do |l| %>
      <div class="record">
        <p><%= link_to l.name, trip_location_path(@trip, l.id)%></p>
        <p><%= link_to "Address", location_address_path(l, l.address)%></p>
      </div>
      <%end%>  
    </div>
    <%= link_to "Add a new location", new_trip_location_path(@trip)%>
  </div>
    